body{
	background-color: green;
}
input{
	outline:none;
}
input[type=range] {
    -webkit-appearance: none;
    width: 300px;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    border-radius: 10px; /*将轨道设为圆角的*/
    // box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    margin-top: -6px; /*使滑块超出轨道部分的偏移量相等*/
    background: #ff5000;
    border-radius: 50%; /*外观设置为圆形*/
    // border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    // box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}

div{
	width:100px;
	height:10px;
	border:1px solid red;
	background: linear-gradient(to right, #000 0%,#000 50%,#fff 50%,#fff 100%) ;
}
