<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="layout">
		<input type="text" v-model="firstName">
		<input type="text" v-model="lastName">
	<div >{{fullName}}</div>
	</div>
	<script src="../vue221.js"></script>
	<script>

			var vm = new Vue({
				el:".layout",
				data:{
					firstName:"zs",
					lastName:"ls",
				},
				methods:{},
				computed:{
					fullName:function(){
						return this.firstName+this.lastName;
					}
				},
			});

	</script>
</body>
</html>
